# Rust
target/
Cargo.lock
**/*.rs.bk
**/output/
!packages/backend/rust/prove/output/
packages/backend/rust/prove/output/*
!packages/backend/rust/prove/output/timing.release.md

# Node
node_modules/
build/
.env
act.env

# Solidity
artifacts/
coverage/
coverage.json

# IDE
.idea/
*.swp
*.swo

# Temporary workspace files
tmp/

# Misc
.DS_Store
*.log

#Cursor
.cursor
.cursorrules

#Cli
.your_proof
**/your_proof/
**/.your_proof/

# Distribution directories
dist/
dist-*/
**/dist/
packages/cli/vendor/
packages/cli/versioning/

#Package
*.zip
*.tar.gz
gen-lang-client-*.json
